.form-group {
  height: 170px;
  /* display: flex; */
  /* align-items: flex-start; */
}
.btn-block {
  margin-top: 5%;
}

.notice-me {
  font-weight: bolder;
  /* text-shadow: .1em .1em .1em #000; */
  color: red;
}

.tiebreaker-block {
  display: none;
}

.winner-block {
  display: none;
  width: 75%;
}

label {
  height: 100px;
}
