.form-group {
  height: 170px;

}

.btn-block {
  margin-top: 5%;
}

.notice-me {
  font-weight: bolder;
  color: #FCC37C;
}

.tiebreaker-block {
  display: none;
}

.winner-block {
  display: none;
  width: 75%;
  align-items: center;
}

.container {
  padding-top: 10px;
}

label {
  height: 100px;
}

body {
  background-color: #01A58D;
  color: #594A46;
}

.btn {
  background-color: #F7715D;
  color: #594A46;
  border: #FCC37C;
}

.btn:hover {
  background-color: #FCC37C;
  color: #F7715D;
  border: #E3DACD;
}

.btn:active {
  background-color: #F7715D !important;
  color: #594A46 !important;
  border: #FCC37C !important;
}

.form-control {
  background-color: #F3F2F0;
}

.winner-block {
  margin-left: auto;
  margin-right: auto;
}

h1 {
  text-shadow: -1px -1px #FCC37C;
}

h3 {
  text-shadow: -0.5px -0.5px #FCC37C;
}
