.form-group {
  height: 170px;
  /* display: flex; */
  /* align-items: flex-start; */
}
.btn-block {
  margin-top: 5%;
}

.notice-me {
  font-weight: bolder;
  color: red;
}

label {
  height: 100px;
}
